.navigation{
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    .navbar-brand{
      max-width: 150px;
    }
}
.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 600px;
  img{
   height: 100%;
   width: 100%;
   object-fit: cover;
   object-position: center;
  }


}
